# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# Processed Files
processed/
*.png
*.jpg
*.jpeg
*.webp

.arranged_names.csv
.updated_with_firstname.csv
.updated_updated_with_firstname.csv

.sm.py